.circle {

  @include size(60px);
  @include background($medium-turquoise);
}

.nav img {
  width: 70%;
  max-height: 100px;
  max-width: 400px;
  position: absolute;
  margin-left: 68%;
  transform: translateX(-47%);
}

li {
  display: inline-block;
  float: left;
  color: $light-blue;
  padding-right: 2px;
  font-family: $helvetica;
  margin-top: 100px;
  font-size: 1.2em;
  letter-spacing: 1px;
}

#news {
  margin-left: 10px;
}
//
// .circle {
//   background-color: $light-blue;
// }
