*, *:before, *:after {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: $helvetica;
}

.circle {
  @include border-top-radius(50%);
  @include border-bottom-radius(50%);
  @include size(55px);
  @include background($medium-turquoise);
}

.subnav {
  @include background($mid-gray);
}
