.body h3 {
  margin-top: 2%;
  margin-left: 10px;
  width: 50%;
}

.fart {
  margin-right: 10px;
}

#headline {
  width: 250px;
}

#temp {
  color: black;
  margin-top: 10px;
}

.weather-toggle {
  float: right;
  color: black;
  list-style: none;
  margin-left:5px;
}

.weather-toggle li:nth-child(2) {
  margin-top: 0;
}

.main-story img {
  width: 100%;
  border-top: 1.5px solid $light-blue;
}

.main-story {
  padding: 0 10px;
  height: 420px;
}
