$mobile: "(min-width: 400px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 982px)";
$desktop: "(min width: 983px)";


// colors
$light-blue: #AADCE6;
$medium-turquoise: #4bc6df;
$disco: #951c55;
$white-smoke: #f6f6f6;
$white: #ffffff;
$venice-blue: #005689;
